<div class="game-box">
    <div class="card">
        <div class="card-header upcoming">
            <h3>Upcoming - Virtual</h3>
            <span class="float-right">
            <%= link_to "<i class='fas fa-bolt'></i> Live".html_safe, fixtures_virtual_soccer_lives_path, id: "live-tab", class: "btnn btn-blink", data: {target: "tabs.date", action: "click->tabs#activate"} %>
          </span>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" data-controller="#match-fixtures">
                    <table class="table table-borderless ">
                        <thead>
                        <tr>
                            <th class="col-2">Date</th>
                            <th class="col-4">Teams</th>
                            <th class="col-3">Tournament</th>
                            <th class="col-1">1</th>
                            <th class="col-1">X</th>
                            <th class="col-1">2</th>
                        </tr>
                        </thead>
                        <tbody id="fixture-table-body" data-target="match-fixtures.fixtures" data-controller="realtime-partial" data-realtime-partial-key="fixtures">
                            <%= render partial: 'pre_match_fixture_table', locals: {fixtures: @fixtures} %>
                        </tbody>
                    </table>
                    <div id="bottom">
                        <div class="d-flex justify-content-center">
                            <div data-target="match-fixtures.spinner"></div>
                        </div>
                        <div class="table-navigation" data-target="match-fixtures.pagination">
                            <%== pagy_nav(@pagy) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
