<%= provide(:title, "Create New Broadcast") %>
<div class="content-heading">
   <div>
      <span>Users</span>
      <small>Create New Users</small>
   </div>
</div>


<%= render 'form', user: @user %>
