<div class="game-box">
    <div class="card">
        <div class="card-header">
            <h3>Live-Match Fixtures - Soccer</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist" data-controller="tabs">
                <li class="nav-item">
                    <%= link_to "Live", fixtures_virtual_soccer_lives_path, remote: true, class: "nav-link active", id: "live-tab" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Pre Match", fixtures_soccer_pres_path(:'q[start]' => Time.now, :'q[stop]' => (Date.today.end_of_day+2.days)), class: "nav-link", id: "home-tab" %>
                </li>

            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" data-controller="match-fixtures">
                    <table class="table table-borderless ">
                        <thead>
                            <tr>
                                <th class="col-4">Teams</th>
                                <th class="col-2">Score</th>
                                <th class="col-2">1</th>
                                <th class="col-2">X</th>
                                <th class="col-2">2</th>
                            </tr>
                        </thead>
                        <tbody id="fixture-table-body" data-target="match-fixture.fixtures" data-controller="refresh" data-refresh-interval="60000" data-refresh-url="/fixtures/soccer/lives.js" data-refresh-method="GET">
                            <%= render partial: 'live_match_fixture_table', locals: {fixtures: @fixtures} %>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <div data-target="match-fixtures.spinner"></div>
                    </div>
                    <div class="table-navigation" data-target="match-fixtures.pagination">
                        <%== pagy_nav(@pagy) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
