<div class="game-box">
   <div class="card" id="show-markets" data-controller="refresh" data-refresh-interval="60000" data-refresh-url=<%= "/fixtures/soccer/live.js?id=#{@fixture.id}" %> data-refresh-method="GET">
        <%= render partial: 'show_markets', locals: {fixture: @fixture} %>
   </div>
</div>