<div class="content-heading">
    <div>
        <span>Analytics</span>
        <small>Transactions Analytics</small>
    </div>
</div>


<div class="row">
   <div class="col-sm-12">
      <div class="col-sm-12 col-centered">
         <!-- START bar chart-->
         <div id="panelChart3" class="card mb3">
            <div class="card-header bg-danger">
               <div class="card-title">Transactions</div>
            </div>
            <div collapse="panelChart3" class="panel-wrapper">
               <div class="card-body" >
                  <div id="transactions_graph" style=" min-height: 400px; width: 100%; "></div>
               </div>
            </div>
         </div>
         <!-- END bar chart-->
      </div>
   </div>
</div>
