/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*

*= require user_assets/bootstrap.min
*= require user_assets/font-awesome.min
*= require user_assets/magnific-popup
*= require user_assets/jquery-ui
*= require user_assets/animate
*= require user_assets/owl.carousel.min
*= require user_assets/main
*= require user_assets/mobile
*= require flag-icon
*
*/

.form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 10px;
    .field_with_errors {
        width: 100%;
        .form-control {
            background-color: #e8e8e8;
            border: 1px solid red;
        }
    }
}

.login>.content-center,
.registration>.content-center {
    background-color: transparent;
}

.login,
.registration {
    margin-top: -40px !important;
}

.cl-grey {
    background-color: #e8e8e8;
}

.web-sidebar-widget.login-widget {
    margin-top: 0px;
}

.new_user>.form-group>.form-control {
    background-color: #e8e8e8;
    border: 1px solid #F6AE2D;
}

.new_user>.form-group>.form-control:focus {
    background-color: #e8e8e8;
    border: 1px solid #F6AE2D;
    box-shadow: 0 0 0 0.1rem #F6AE2D;
}

input.btn.btn-block.btn-primary.mt-lg.login-btn {
    background-color: #F6AE2D;
    border-color: #F6AE2D;
    color: black;
}

input.btn.btn-block.btn-primary.mt-lg.login-btn:hover,
input.btn.btn-block.btn-primary.mt-lg.login-btn:focus {
    background-color: #F6AE2D;
    border-color: #F6AE2D;
    box-shadow: 0 0 0 0.1rem #F6AE2D;
}

button.btn.btn-block.btn-primary.mt-lg.login-btn {
    background-color: #F6AE2D;
    border-color: #F6AE2D;
    color: black;
}

button.btn.btn-block.btn-primary.mt-lg.login-btn:hover,
button.btn.btn-block.btn-primary.mt-lg.login-btn:focus {
    background-color: #F6AE2D;
    border-color: #F6AE2D;
    box-shadow: 0 0 0 0.1rem #F6AE2D;
}

a.btn.btn-block.btn-primary.mt-lg.login-btn {
    background-color: #F6AE2D;
    border-color: #F6AE2D;
    color: black;
}

a.btn.btn-block.btn-primary.mt-lg.login-btn:hover,
a.btn.btn-block.btn-primary.mt-lg.login-btn:focus {
    background-color: #F6AE2D;
    border-color: #F6AE2D;
    box-shadow: 0 0 0 0.1rem #F6AE2D;
}

#label_remember_me {
    margin-bottom: 0px;
    padding-left: 10px;
}

#remember_me {
    padding-top: 1rem;
}

form>.actions {
    margin: 1rem 0rem;
}

a.devise_forms {
    // font-weight: bold;
}

a.devise_forms:hover {
    text-decoration: underline;
    color: #F6AE2D;
}

table.fixture-table {
    thead {
        tr {
            font-size: 14px !important;
            line-height: 1rem;
            th.col,
            th.col-2,
            th.col-4,
            th.col-6 {
                width: auto;
            }
        }
    }
    tbody {
        tr {
            font-size: 14px !important;
            line-height: 1rem;
            td.col,
            td.col-2,
            td.col-4,
            td.col-6 {
                width: auto;
            }
        }
    }
}

.col-1 {
    flex: 0 0 8.333333%;
    width: 8.333333%
}

.col-2 {
    flex: 0 0 16.666667%;
    width: 16.666667%
}

.col-3 {
    flex: 0 0 25%;
    width: 25%
}

.col-4 {
    flex: 0 0 33.333333%;
    width: 33.333333%
}

.col-5 {
    flex: 0 0 41.666667%;
    width: 41.666667%
}

.col-6 {
    flex: 0 0 50%;
    width: 50%
}

.col-7 {
    flex: 0 0 58.333333%;
    width: 58.333333%
}

.col-8 {
    flex: 0 0 66.666667%;
    width: 66.666667%
}

.col-9 {
    flex: 0 0 75%;
    width: 75%
}

.col-10 {
    flex: 0 0 83.333333%;
    width: 83.333333%
}

.col-11 {
    flex: 0 0 91.666667%;
    width: 91.666667%
}

.col-12 {
    flex: 0 0 100%;
    width: 100%
}

.table td,
.table th {
    vertical-align: middle;
}

.table td {
    a:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}

.markets-table .btn {
    width: 100%;
}

.markets-table {
    tbody {
        tr {
            td {
                a.btn {
                    text-decoration: none;
                }
            }
        }
    }
}

.wagger-btn {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-basis: 100%;
    width: 100%;
    background-color: #7690a7;
    border-color: #7690a7;
    line-height: 1.2rem;
    font-size: 12px;
    font-weight: 700;
    color: white;
    .wagger-amt {
        font-weight: 600;
        margin-top: 5px;
    }
}

strong {
    font-weight: 600;
}

.market-odds {
    padding: 11px 15px;
}

.market-label {
    padding: 8px 15px;
    background-color: #7690A7;
    font-size: 12px;
}

.clear-slip {
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    a {
        text-decoration: underline;
        text-transform: capitalize;
    }
    a:focus,
    a:hover {
        color: inherit;
    }
}

.single-bet {
    //padding: 5px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    #comp-names {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
}

.widget-body#betslip {
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 600;
}

.total-bet {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 10px 0px;
    // padding: 5px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    // padding-right: -105px;
}

.total-wins {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    margin-top: -5px;
    margin-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
}

#stake-input {
    padding: 0px 10px
}

.pagination {
    clear: both;
    color: #7FBEEB !important;
    font-size: 12px !important;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 0 15px;
}

.pagination span {
    margin-right: 4px;
}

.pagination a {
    color: #7EE8FA;
    text-decoration: none;
}

.withdraw {
    //color: #9B1D20;
    color: #F6AE2D;
}

.deposit {
    color: #7DDF64;
}

.card-header {
    background: #7690A7;
}

.card {
    background: #5f7b95;
}

.table {
    color: #ffffff;
    thead {
        tr {
            border-bottom: 1px solid #9baebf;
            background: #7690a7;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #9baebf;
        }
    }
}

.card-body {
    padding: 0px;
}

#myTab {
    background: #a8b8c7;
}

.balance {
    font-size: 15px;
    color: #F6AE2D
}

.text-gray-400 {
    color: #d1d3e2!important;
}

.wagger-btn:hover {
    transform: scale(1.05);
    background: inherit;
    color: #ffffff;
    border-color: #F6AE2D;
}


/* loader */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #50677C;
    display: table;
    text-align: center;
}

.loader {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 200px;
    height: 200px;
}

.loader-icon {
    width: 80px;
    height: 80px;
    border: 5px solid #4e54c8;
    border-right-color: #eee;
    border-radius: 50%;
    position: relative;
    animation: loader-rotate 1s linear infinite;
    margin: 0 auto;
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content-wrapper {
    margin-bottom: 50px;
}

.ticket-slip {
    border-radius: 5px;
    border: 2px solid #7690A7;
}

.ticket-body {
    padding: 12px;
}

.error_desc {
    color: #ec2121;
}

@media (max-width: 991.98px) {
    .single-bet #comp-names {
        font-size: 12px;
    }
}

.turbolinks-progress-bar {
    visibility: hidden;
}

.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #f6ad2e;
    }
    49% {
        color: #f6ad2e;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #f6ad2e;
    }
}

.score,
.match-time {
    text-align: center;
    color: #f6ad2e;
    font-weight: 900;
}

.mobile-show {
    margin-left: -25px;
    color: #000;
}

.close-linebet {
    padding: 7px;
}

#total-wins {
    text-align: right;
}

#total-odds {
    text-align: right;
}