<div class="game-box" id="featured">
    <div class="card">
        <div class="card-header banner-img" style="background-image: url(<%= asset_path 'banner_02.jpg' %>);" >
        </div>
    </div>
</div>