<div class="fixture-box">
   <div class="card" id="show-markets" data-controller="fixture-channel pre-odds-channel refresh" data-refresh-interval="60000" data-refresh-url=<%="/fixtures/soccer/pre.js?id=#{@fixture.id}" %>  data-refresh-method="GET" data-fixture-url=<%="/fixtures/soccer/pre.js?id=#{@fixture.id}" %> data-fixture-method="GET">
        <%= render partial: 'show_markets', locals: {fixture: @fixture} %>
   </div>
</div>