<% provide(:title, "Contacts") %>
<div class="game-box">
    <div class="card">
        <div class="card-header">
            <h3>Contact Us</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">Contacts</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                	<div class="heads">

                		
	                	<i class="fa fa-globe" aria-hidden="true"></i> website:	<a href="http://www.betcity.ug">www.betcity.ug</a> <br> <br>

						<i class="fa fa-envelope" aria-hidden="true"></i> Email: info@betcity.ug <br><br>
						<i class="fa fa-phone" aria-hidden="true"></i> Customer care: +256776093940 / +256759944927
                		
                	
                	</div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
