<% provide(:title, "FAQs") %>
<div class="game-box">
    <div class="card">
        <div class="card-header">
            <h3>Frequetly Asked Questions</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">FAQs</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                	<div class="heads">
                     <ul>
                        <li>
                            <div>
                                <h6>1. WHAT IS SkylineBet?</h6>
                            <p class="paragraph">SkylineBet is a Ugandan company which provides multi-channel sports betting in the online area under the brand SkylineBet.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h6>2. HOW TO CREATE AN ACCOUNT?</h6>
                                <p class="paragraph">
                                    They’re two ways which you can use to open up an account with SkylineBet
                                </p>
                            </div>
                            <div>
                                <h6> a.) Web/Mobile</h6>
                                <p class="paragraph">
                                    ➢ Log on to <a href="http://www.SkylineBet.co.ug">www.SkylineBet.co.ug</a> and click on register at the top of the page. <br>
                                    ➢ Enter your details then click on submit <br>
                                    ➢ An auto created password /pin will be sent to your phone

                            </p>
                                    
                            </div>
                            <div>
                                <h6>b.) SMS</h6>
                                <p class="paragraph">
                                ➢ Send JOIN to 8333 <br>
                                ➢ You’ll receive a message on your phone with your login details
                                </p>
                            </div>                            
                        </li>
                        <li>
                            <div>
                                <h6>3. HOW TO DEPOSIT?</h6>
                                <h6>a.) Web/Mobile</h6>
                            <p class="paragraph">
                                
                                              
                                ➢ Sign in to your account, <br>
                                ➢ Click on deposit at the top of the page <br>
                                ➢ Enter the amount and submit <br>
                                ➢ You will receive a prompt message where you will enter your mobile money pin to complete your deposit <br>
                                ➢ Your account will be credited instantly                           
                           </p>     
                            
                            </div>
                            <div>
                                
                                <h6>b.) SMS</h6>
                            <p class="paragraph">
                                ➢ Send the letter  DP  < space > Amount you want to deposit and send to 8333 Eg: DP 1000 <br>
                                ➢ You will receive a prompt message where you will enter your mobile money pin to complete your deposit. <br>
                               ➢ Your account will be credited instantly               
                            </p>  
                            </div>
                        </li>
                        <li>
                            <div>
                                <h6>4. HOW TO PLACE A BET?</h6>
                                <h6> a.) Web/Mobile</h6>
                                <p class="paragraph">
                                ➢ Log in to your account <br>
                                ➢ Select the sports option from the menu <br>
                                ➢ Make your selections <br>
                                ➢ Enter your desired stake and click on confirm <br>
                                ➢ Your ticket will be placed <br>
                                </p>
                            </div>
                           <div>                               
                                <h6> b.) SMS</h6>
                                <p class="paragraph">
                                    ➢ Send the word GAME to 8333 <br>
                                    ➢ You will receive an sms from SkylineBet with the game code and odds <br>
                                    ➢ Enter the Game Code, hashtag ,Game outcome, hashtag Amount .Eg 2222#1#1000 and send to 8333<br>
                                    ➢ Please note that you can only bet on three matches when using Sms betting
                                </p>
                           </div>
                            
                        </li>
                        <li>
                            <div>
                                <h6>5. HOW TO REQUEST FOR A WITHDRAWAL</h6>
                                <h6>a.) Web/Mobile Withdrawal</h6>
                                <p class="paragraph">
                                    ➢ Log in to your account <br>
                                    ➢ Click on your profile icon <br>
                                    ➢ Now click on my profile <br>
                                    ➢ Select Withdrawal <br>
                                    ➢ Enter the amount you wish to withdrawal and submit <br>
                                    ➢ Your withdrawals will be processed instantly
                                </p> 
                            </div>
                            <div>
                                <h6>b.) SMS WITHDRAWAL</h6>
                                <p class="paragraph">
                                    ➢ Send the letter WD < space > Amount you want to and send to 8333 <br>
                                    ➢ Eg WD AMOUNT = WD 10000  <br>
                                </p>
                            </div>
                        </li>
                    </ul>   
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
