<%= provide(:title, "Create New Broadcast") %>
<div class="content-heading">
   <div>
      <span>Broadcasts</span>
      <small>Create New Broadcast</small>
   </div>
</div>


<%= render 'form', broadcast: @broadcast %>
