<!--Copyright Area-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6">
                <ul>
                    <li><a href=<%=faqs_path%> >Faq</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href=<%=rules_path%> >Game Rules</a></li>
                    <li><a href=<%=terms_path%> >Terms and Conditions</a></li>
                    <li><a href=<%=contacts_path%> >Support contact</a></li>
                    <li >
                        BetCity is licensed by the National Gaming Board of Uganda. Licence #001 Reg. Number: 24. You have to be 18 years and above to bet. Betting is addictive and can be psychologically harmful.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/Copyright Area-->