<!--Copyright Area-->
<div class="copyright">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div>
            </div>
            <ul class="d-flex justify-content-between m-footer-list" data-controller="footer">
               <li class="footer-slip" data-action="click->main#showSlip">
                  <div class="slip-ticket-count" id="slip-ticket-count" data-target="footer.count">
                     <%= (@cart && @cart.line_bets.exists?) ? @cart.line_bets.count : 0 %></div>
                  <div>Betslip</div>

               </li>
               <li>
                  <a href=""><i class="fa fa-phone fa-1x fa-fw"></i>Contact </a>
               </li>
               <li>
                  <a href="">More <i class="fas fa-bars fa-1x fa-fw"></i></a>

               </li>

            </ul>
         </div>
      </div>
   </div>
</div>
<!--/Copyright Area-->