<div class="card ">
  <div class="card-header side-banner " >
  	<img src="<%= asset_path 'side_banner_1.png' %>">
  </div>
</div>
<br>
<div class="card ">
  <div class="card-header side-banner " >
  	<img src="<%= asset_path 'side_banner_2.png' %>">
  </div>
</div>