<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
    <aside class="content-sidebar">
        <h3>Sports</h3>
        <ul>
            <li><a href= <%= fixtures_soccer_pres_path %>> <i class="far fa-futbol fa-lg fa-fw mr-2 text-gray-400"></i>Soccer</a></li>
            <li><a href= <%= fixtures_virtual_soccer_pres_path %>> <i class="fas fa-trophy fa-lg fa-fw mr-2 text-gray-400"></i>e-Soccer</a></li>

        </ul>
    </aside>
    <aside class="content-sidebar">
        <h3>Countries</h3>
        <ul>
            <li><a href=""><img src="assets/images/icons/country/1.png" alt=""> England</a></li>
            <li><a href=""><img src="assets/images/icons/country/2.png" alt=""> Spain</a></li>
            <li><a href=""><img src="assets/images/icons/country/3.png" alt=""> Germany</a></li>
            <li><a href=""><img src="assets/images/icons/country/4.png" alt=""> Italy</a></li>
            <li><a href=""><img src="assets/images/icons/country/5.png" alt=""> France</a></li>
            <li><a href=""><img src="assets/images/icons/country/6.png" alt=""> Netherlands</a></li>
            <li><a href=""><img src="assets/images/icons/country/1.png" alt=""> England</a></li>
            <li><a href=""><img src="assets/images/icons/country/2.png" alt=""> Spain</a></li>
            <li><a href=""><img src="assets/images/icons/country/3.png" alt=""> Germany</a></li>
            <li><a href=""><img src="assets/images/icons/country/4.png" alt=""> Italy</a></li>
            <li><a href=""><img src="assets/images/icons/country/5.png" alt=""> France</a></li>
            <li><a href=""><img src="assets/images/icons/country/6.png" alt=""> Netherlands</a></li>
        </ul>
    </aside>
</div>
