<div class="card ">
  <div class="card-header side-banner " >
  	<img src="<%= asset_path 'author_02.jpg' %>">
  </div>
</div>
<br>
<div class="card ">
  <div class="card-header side-banner " >
  	<img src="<%= asset_path 'author_02.jpg' %>">
  </div>
</div>