<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
    <aside class="content-sidebar">
        <h3>Sports</h3>
        <ul>
            <li><a href= <%= fixtures_soccer_pres_path %>> <i class="far fa-futbol fa-lg fa-fw mr-2 text-gray-400"></i>Soccer</a></li>
            <li><a href= <%= fixtures_virtual_soccer_pres_path %>> <i class="fas fa-trophy fa-lg fa-fw mr-2 text-gray-400"></i>eSoccer</a></li>

        </ul>
    </aside>
</div>
