<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
    <aside class="content-sidebar">
        <h3>Sports</h3>
        <ul>
            <li><a href=""> Soccer</a></li>
            <li><a href=""> Virtual Soccer</a></li>

        </ul>
    </aside>
</div>
