<div class="card ">
  <div class="card-header side-banner " style="background-image: url(<%= asset_path 'author_02.jpg' %>);" >
  </div>
</div>
<br>
<div class="card ">
  <div class="card-header side-banner " style="background-image: url(<%= asset_path 'author_02.jpg' %>);" >
  </div>
</div>