<div class="fixture-box">
    <div class="card" id="show-markets" data-controller="realtime-partial" data-realtime-partial-key="fixtures">
        <%= render partial: 'show_markets', locals: {fixture: @fixture} %>
    </div>
</div>