<div class="game-box">
   <div class="card" id="show-markets" data-controller="realtime-partial refresh" data-realtime-partial-key="fixtures" data-refresh-interval="60000" data-refresh-url="/fixtures/virtual_soccer/live.js?id=#{@fixture.id}" data-refresh-method="GET">
        <%= render partial: 'show_markets', locals: {fixture: @fixture} %>
   </div>
</div>